// HEADER

header {
    background-image: url(../images/headerimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%josefin-bold {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    // font-size: 48px;
    line-height: 26px;
    /* identical to box height, or 54% */
    // letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__headline {
    @extend %josefin-bold;
    font-size: 48px;
    letter-spacing: 4.8px;
    margin-bottom: 11px;
}

%josefin-regular {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* identical to box height, or 118% */
    color: #FFFFFF;
}

.header__subheadline {
    @extend %josefin-regular;
    font-size: 22px;
    letter-spacing: 6.82px;
    margin-bottom: 48px;
}

.form__enter-info {
    width: 503px;
    height: 63px;
    border: none;
    padding: 0px;
    margin-right: -4px;
    text-align: center;
    @extend %josefin-regular;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #999999;
}

.header__formcard {
    display: flex;
}

%aleo {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* identical to box height, or 186% */
    text-transform: uppercase;
    color: #FFFFFF;
}

%button {
    background: #5474FD;
    border: none;
    @extend %aleo;
    width: 228px;
    height: 63px;
}

.form-btn {
    @extend %button;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 153px;
    height: 63px;
    // margin-top:15px;
}

.header___scrldwn {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    text-align: center;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.margin {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1113px;
    width: 100%;
}
// NAVBAR

@import 'nav';

// WHY CHOOSE US SECTION

.whyus__section {
    background-image: url(../images/citynight.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyus__text {
    max-width: 560px;
    width: 100%;
}

.whyus__headline {
    @extend %aleo;
    font-size: 36px;
}

.whyus__paragraph {
    @extend %josefin-regular;
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
}

.btn {
    @extend %button;
}

.whyus__images {
    max-width: 400px;
    width: 100%;
}

.whyus__topimg {
    display: flex;
    justify-content: flex-start;
}

.whyus__bottomimg {
    display: flex;
    justify-content: flex-end;
}

// INFO SECTION

.infoillu__section {
    background: #333333;
    min-height: 30vh;
}

// SPAIN FIRST SECTION

.spain__frst-section {
    background-image: url(../images/bungalow.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spain__frst-margin {
    display: flex;
    align-content: center;
    // justify-content: space-between;
    max-width: 1113px;
    width: 100%;
}

.spain__textdiv {
    width: 543px;
    height: 374px;
    background: #232323;
    // mix-blend-mode: normal;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    // align-items: center;
}

.spain__headline {
    @extend %josefin-regular;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    margin-bottom: 23px;
}

.spain__subheader {
    @extend %josefin-regular;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.spain__paragraph {
    @extend %josefin-regular;
    font-size: 16px;
    color: #E8E8E8;
    max-width: 508px;
    width: 100%;
    margin-bottom: 24px;
}

.spain__scnd-section {
    background-image: url(../images/rockycliffs.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spain__scnd-margin {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    max-width: 1113px;
    width: 100%;
}

// FEEDBACK SECTION

.feedback__section {
    background-image: url(../images/manbackpack.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback__margin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // max-height: 404px;
    // height: 100%;
    max-width: 1113px;
    width: 100%;
}

.feedback__headline {
    @extend %aleo;
    font-size: 36px;
    margin-bottom: 91px;
}

.feedback__card {
    display: flex;
}

.feedback__text {
    background: #333333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 34px;
}

.feedback__subheadline {
    @extend %josefin-regular;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 8px;
    color: #FEFEFE;
    margin-left: 25px;
}

.feedback__paragraph {
    @extend %josefin-regular;
    font-size: 16px;
    color: #FEFEFE;
    max-width: 581px;
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
}

// FOOTER

.footer {
    background: #232323;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .footer__card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.footer__logo {
    @extend %josefin-bold;
    font-size: 24px;
    letter-spacing: 3.36px;
    text-transform: uppercase;
}

.footer__subheadline {
    @extend %josefin-regular;
    font-size: 16px;
    letter-spacing: 1.6px;
}